<!DOCTYPE HTML>
<html lang="en">

  <head>
    <title>HRX API</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width = 320,
       initial-scale = 1, user-scalable = no,  minimal-ui">
    <link rel="stylesheet" type="text/css" href="/views/css/style.css" media="all">
  </head>

  <body>
    WELCOME TO HRX-API
  </body>

</html>
