<!DOCTYPE HTML>
<html lang="en" data-ng-app="api">

  <head>
    <title>HRX API</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width = 320,
       initial-scale = 1, user-scalable = no,  minimal-ui">
    <link rel="stylesheet" type="text/css" href="/views/css/style.css" media="all">
    <link rel="stylesheet" href="/views/css/ionicons.css">
    <link rel="stylesheet" href="/views/css/ionicons.min.css">
  </head>

  <body id="main">

    <div class="main_container">

      <h1>HRX API</h1>
      <h3>

        Welcome to the HRX api. Right here you will be able to see all the companies and users that HRX currently holds. For more specific accesses please use the iPhone app soon available on the Apple store.
      </h3>

      <hr>
      <div ng-controller="ListCtrl">
        <h2><span>Companies ({{companies.length}})</span><input type="text" placeholder="Search by name, industry and more ..." ng-model="company_search"/></h2>
        <ul>
          <li ng-repeat="company in companies | filter: company_search | orderBy: company.name | limitTo: 20" ng-init="company[ $index ] = true">

            <span>{{company.name}}</span><span> - {{company.industry}}</span>
            <span ng-hide="company.address && company.latitude" class="company_not_edited">[TO DO]</span>

            <span class="ion-edit" ng-click="company[ $index ] = !company[ $index ]"></span>

            <!-- MENU SHOWN ON CLICK -->
            <div class="editCompany" ng-show="company[ $index ]">
              <ul>
                <!-- COMPANY LOGO -->
                <li class="company_name_logo">
                  <img ng-hide="company.logo" src="/views/img/comp.jpg"/>
                  <img ng-show="company.logo" ng-attr-src="{{company.logo}}"/>
                  <div>
                    <span>{{company.name}}</span>
                    <input type="text" ng-model="company.logo" placeholder="Image URL"/>
                  </div>
                </li>

                <li class="company_generic">
                  <span>industry</span>
                  <span>{{company.industry}}</span>
                </li>

                <li class="company_generic">
                  <span>size</span>
                  <span>{{company.size}}</span>
                </li>

                <li class="company_generic">
                  <span>type</span>
                  <span>{{company.type}}</span>
                </li>

                <li class="company_input">
                  <input type="text" ng-model="company.www" placeholder="Website URL"/>
                </li>

                <li class="company_input">
                  <form ng-submit="searchCall($index)" name="myForm">
                    <input ng-model="company.address" type="text" placeholde="full company address"/>
                  </form>
                </li>

                <li class="company_generic">
                  <span>latitude</span>
                  <span ng-show="company.latitude === company.center.latitude">{{company.latitude}}</span>
                  <span ng-hide="company.latitude === company.center.latitude">{{company.center.latitude}}</span>
                </li>

                <li class="company_generic">
                  <span>longitude</span>
                  <span ng-show="company.longitude === company.center.longitude">{{company.longitude}}</span>
                  <span ng-hide="company.longitude === company.center.longitude">{{company.center.longitude}}</span>
                </li>

                <li class=" company_submit">
                  <input type="password" placeholder="password"/>
                  <button ng-click="updateCompany()">SUBMIT</button>
                </li>
              </ul>


            <br>



            <!-- <span>{{company.longitude}}</span><br> -->


            <!-- <div style="height: 400px;" id="map"></div> -->
            <!-- <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map> -->


            <!-- <ui-gmap-google-map ng-if="company.latitude" center='{ latitude: company.latitude, longitude: company.longitude }' zoom='map.zoom'> -->
            <ui-gmap-google-map ng-if="company.latitude" options='mapOptions' ng-init="company.center = {latitude: company.latitude, longitude: company.longitude}" center='company.center' events="recenterMap($index)" zoom='map.zoom'>
              <!-- <ui-gmap-search-box template="searchbox.template" events="searchCall( company.id )"></ui-gmap-search-box> -->

              <ui-gmap-marker idKey='company.id' coords="company.center"></ui-gmap-marker>
            </ui-gmap-google-map>

            <span class="ion-close company_close" ng-click="company[ $index ] = !company[ $index ]"></span>

            </div>
          </li>
        </ul>

        <hr>

        <h2><span>HR Alumn ({{new_users.length}})</span><input type="text" placeholder="Search by name, cohort and more ..." ng-model="alumni_search"/></h2>
        <ul>

          <li ng-repeat="user in new_users | filter: alumni_search | orderBy: user.full_name | limitTo: 10">
          <span title="{{user.username}}">{{user.full_name}}</span><span> - (HR{{user.cohort}})</span></li>
        </ul>
        <hr>

        <h2><span>HR Chapters ({{hr_chapters.length}})</span></h2>
        <ul>

          <li ng-repeat="chapter in hr_chapters | orderBy: chapter.name"><span>{{chapter.name}}</span><span> - {{chapter.location}}</span></li>
        </ul>

      </div>

    </div>

    <!-- ANGULAR SETUP -->
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script-->
    <script src="/bower_components/angular/angular.min.js"></script>

    <!-- ANGULAR DEPENDENCIES -->
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script-->
    <script src="/bower_components/angular-route/angular-route.min.js"></script>

    <!-- ANGULAR STRUCTURE -->
    <script src="/modules/core/core.js"></script>
    <script src="/modules/core/directives/hello_dir.js"></script>
    <script src="/modules/core/controllers/ListCtrl.js"></script>

    <!-- ANGULAR GOOGLE MAPS -->
    <script src='/bower_components/lodash/lodash.min.js'></script>
    <script src='/bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>


    <script>
      var new_users = <%- JSON.stringify( new_users ) %>;
      var companies = <%- JSON.stringify( companies ) %>;
      var hr_chapters = <%- JSON.stringify( hr_chapters ) %>;

      angular.module('api.constants', [])
        .constant('New_users_const', new_users)
        .constant('Companies_const', companies)
        .constant('HR_chapters_const', hr_chapters);
    </script>

    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

  </body>

</html>
