<!DOCTYPE HTML>
<html lang="en">

  <head>
    <title>HRX API - Reset Password</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width = 320,
       initial-scale = 1, user-scalable = no,  minimal-ui">
    <link rel="stylesheet" type="text/css" href="/views/css/style.css" media="all">
    <SCRIPT TYPE="text/javascript" SRC="/views/js/verifynotify.js"></SCRIPT>
  </head>

  <body>
    <div class="centerFloat">
      RESET PASSWORD
      <form NAME="password_form" action="http://api.poweredbyq.io/resetpassword" method="POST" style="line-height: 20px;">
        <input id="id" type="hidden" name="id">
        <input type="password" name="password" onKeyUp="verify.check()"><br>
        <input type="password" name="password2" onKeyUp="verify.check()"><br>
        <input type="submit" value="Submit">
        <DIV ID="password_result" style="color: white;">&nbsp;</DIV>
      </form>
    </div>
    <script type="text/javascript">

      verify = new verifynotify();
      verify.field1 = document.password_form.password;
      verify.field2 = document.password_form.password2;
      verify.result_id = "password_result";
      verify.match_html = "<SPAN STYLE=\"color:blue\">Thank you, your passwords match!<\/SPAN>";
      verify.nomatch_html = "<SPAN STYLE=\"color:red\">Please make sure your passwords match.<\/SPAN>";

      // Update the result message
      verify.check();

      var querySt = function ( paramName ) {

          var substring = window.location.search.substring(1);

          if ( substring ) {
            var params = substring.split("&");

            for ( i = 0; i < params.length; i++ ) {

              var paramResult = params[i].split("=");

              if ( paramResult[0] === paramName ) {
                return paramResult[1];
              }
            }
          } else {
            return substring;
          }
      }

      var idResult = querySt("id");
      document.getElementById('id').value = idResult;

    </script>
  </body>

</html>
