<!-- <div class="editCompany" ng-show="companies[ $index ].edit"> -->
<div class="editCompany">
  <ul>
    <!-- COMPANY LOGO -->
    <li class="company_name_logo">
      <img ng-hide="companies[ currentID ].logo" src="/views/img/comp.jpg"/>
      <img ng-show="companies[ currentID ].logo" ng-attr-src="{{companies[ currentID ].logo}}"/>
      <div>
        <span>{{companies[ currentID ].name}}</span>
        <input type="text" ng-model="companies[ currentID ].logo" placeholder="Image URL"/>
      </div>
    </li>

    <li class="company_generic">
      <span>industry</span>
      <span>{{companies[ currentID ].industry}}</span>
    </li>

    <li class="company_generic">
      <span>size</span>
      <span>{{companies[ currentID ].size}}</span>
    </li>

    <li class="company_generic">
      <span>type</span>
      <span>{{companies[ currentID ].type}}</span>
    </li>

    <li class="company_input">
      <input type="text" ng-model="companies[ currentID ].www" placeholder="Website URL"/>
    </li>

    <li class="company_input">
      <form ng-submit="searchCall($index)" name="myForm">
        <input ng-model="companies[ currentID ].address" type="text" placeholde="full company address"/>
      </form>
    </li>

    <li class="company_generic">
      <span>latitude</span>
      <span ng-show="companies[ currentID ].latitude === companies[ currentID ].center.latitude">{{companies[ currentID ].latitude}}</span>
      <span ng-hide="companies[ currentID ].latitude === companies[ currentID ].center.latitude">{{companies[ currentID ].center.latitude}}</span>
    </li>

    <li class="company_generic">
      <span>longitude</span>
      <span ng-show="companies[ currentID ].longitude === companies[ currentID ].center.longitude">{{companies[ currentID ].longitude}}</span>
      <span ng-hide="companies[ currentID ].longitude === companies[ currentID ].center.longitude">{{companies[ currentID ].center.longitude}}</span>
    </li>

    <li ng-show="errorMessage" class="company_error">{{errorMessage}}</li>

    <li class="company_submit">
      <input type="password" placeholder="password" ng-model="companies[ currentID ].password"/>
      <button ng-click="updateCompany( $index )">SUBMIT</button>
    </li>
  </ul>
  <br>

  <ui-gmap-google-map ng-if="companies[ currentID ].latitude" options='mapOptions' ng-init="companies[ currentID ].center = {latitude: companies[ currentID ].latitude, longitude: companies[ currentID ].longitude}" center='companies[ currentID ].center' events="recenterMap($index)" zoom='map.zoom'>

    <ui-gmap-marker idKey='companies[ currentID ].id' coords="companies[ currentID ].center"></ui-gmap-marker>
  </ui-gmap-google-map>

  <span class="ion-close company_close" ui-sref="home"></span>
  <!-- <span class="ion-close company_close" ng-click="companies[ $index ].edit = !companies[ $index ].edit"></span> -->

</div>
